body{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
ul li{
  list-style-type: none;
}

.menu-click{
  width: 70px;
  transition: all 0.4s ease-in-out;
}
.menu-bar{
  display: none;
}
.menu-clicked{
    width: 18rem;
    transition: all 0.4s ease-in-out;
}
@media (max-width: 768px){
  .menu-click{
    position: absolute;
    left: -100%;
    transition: all 0.4s ease-in-out;
  }
  .menu-clicked{
    position: absolute;
    left: 1;
  }
  .menu-bar{
    display: block;
  }
}